* {
    padding: 0%;
    /*border: 1px solid red;*/
    box-sizing: border-box;
    margin: 0px;
}

body {
    height: 100vh;
}

h1 {
    height: 50px;
    text-align: center;
}

.title {
    color: black;
}

.h100 {
    height: 100%
}

#container {
    text-align: center;
    height: calc(100vh - 60px);
    padding: 12px
}

#yes-btn {
    width: 100%;
    height: 100%;
    font-size: 20em;
}

#no-btn {
    width: 100%;
    height: 100%;
    font-size: 20em;
}

#containerTitle {
    text-align: center;
}

#imgLogo {
    text-align: right;
}

#titleLogin {
    margin-top: 27px;
}

#containerLogin label {
    text-align: left;
}